<h1>CreditCardDetails#destroy_card</h1>
<p>Find me in app/views/credit_card_details/destroy_card.html.erb</p>

<%= "FORGET MY CREDIT CARD DETAILS", credit_card_details_destroying_card_path, class: "button alert large" %>