<div class="BigVideo" style="height: 100vh; width: 100%; position: fixed; z-index: -1; top: 70px;" data-vide-bg="http://res.cloudinary.com/theblackandwhites/video/upload/eo_100,so_10/v1513813188/renegade/assets/videos/The_Abolitionists_Trailer_HD_LG.mp4" data-vide-options="loop: false, muted: false, position: 0% 0%">
	<div class="black-overlay">
		<div class="grid-x">
			<div class="cell small-12 medium-8 large-9 medium-offset-5 large-offset-4" style="margin-top: 350px;">
				<div class="video-title-overlay">
					<h1>Be apart of something bigger!</h1>
					<h2>Support a mission &amp; follow it every step of the way.</h2>
					<%= link_to "SUPPORT A MISSION", root_path, class: "button large cta", style: "margin-top:20px;" %>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="grid-x">
	<div class="cell show-for-medium show-for-large medium-4 large-3 home-side-bar">
		<div class="mission_tile_homepage">
			<h2>Support our current mission</h2>
			<div class="current_mission_tile">
				<div class="mission_tile_image">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkcrBZK8WYKgu2h3WQZFl5q_AZVwYl1FFeN6Fh1L-52QEOoEer" alt="Renegade Missions" width="100%;">
				</div>
				<div class="mission_tile_text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					<div class="grid-x" style="margin-top: 20px;">
						<div class="cell small-6"><%= link_to "VIEW MISSION", root_path, class: "button tiny cta" %></div>
						<div class="cell small-6 text-right mission_tile_stats">
							<small><strong>Initiated:</strong> 1st July 2017 <br>
							<strong>Deadline:</strong> 30th July 2017</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mission_tile_homepage">
			<h2>Checkout our previous missions</h2>
			<div class="current_mission_tile">
				<div class="mission_tile_image">
					<img src="https://i.ytimg.com/vi/Q7eE-hn7A1Q/maxresdefault.jpg" alt="Renegade Missions" width="100%;">
				</div>
				<div class="mission_tile_text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					<div class="grid-x" style="margin-top: 20px;">
						<div class="cell small-6"><%= link_to "VIEW MISSION", root_path, class: "button tiny cta" %></div>
						<div class="cell small-6 text-right">
							<small><strong>Initiated:</strong> 1st July 2017 <br>
							<strong>Deadline:</strong> 30th July 2017</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cell small-12 medium-8 large-9">
		
	</div>
</div>
